---
import All from "@/assets/shop_product/all-food.png";
import DryFood from "@/assets/shop_product/dry-food.png";
import Snacks from "@/assets/shop_product/snack-food.png";
import WetFood from "@/assets/shop_product/wet-food.png";
import ParallaxSection from "@/components/ParallaxSection.astro";
import Filter from "@/components/shared/Filter.astro";
import FullProductCard from "@/components/shared/FullProductCard.astro";
import Subtitle from "@/components/shared/Subtitle.astro";
---

<ParallaxSection
  id="nourishment"
  class="items-center h-dvh overflow-y-auto scroll-smooth parallax-section--tall"
  contentClass="pt-[78px]"
  bgPosition={[
    { y: 100, opacity: 0 },
    { y: 100, opacity: 0, scale: 1 },
    { y: 0, opacity: 0.75, scale: 1 },
  ]}
>
  <section
    class="content flex flex-col w-full items-center justify-center min-h-auto pb-[10vh]"
  >
    <h1
      id="nourishment-title"
      class:list={[
        "font-large-heading text-[60px]/[80%] text-center text-text-primary overflow-hidden uppercase",
        "max-w-[550px] mt-6",
      ]}
    >
      Nourishment for Every Stage of Their Wild Life
    </h1>
    <Subtitle id="nourishment-description" className="max-w-[600px] mt-5">
      Discover stories, science, and practical tips inspired by nature — helping
      you feed, train, and care for your four-legged explorer the natural way.
    </Subtitle>

    <Filter
      id="nou-product-filters"
      className="mt-[35px] flex flex-row gap-2.5 items-center justify-center"
      items={[
        "Puppies",
        "Adult dogs",
        "Senior dogs",
        "Kittens",
        "Adult cats",
        "Senior cats",
      ]}
    />

    <section id="nou-products" class="grid grid-cols-3 gap-3 mt-12">
      <FullProductCard
        title="Dry food"
        image={DryFood.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="Wet food"
        image={WetFood.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="Snacks"
        image={Snacks.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="All"
        image={All.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="Dry food"
        image={DryFood.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="Wet food"
        image={WetFood.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="Snacks"
        image={Snacks.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="All"
        image={All.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="Dry food"
        image={DryFood.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="Wet food"
        image={WetFood.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="Snacks"
        image={Snacks.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="All"
        image={All.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="Dry food"
        image={DryFood.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="Wet food"
        image={WetFood.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="Snacks"
        image={Snacks.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
      <FullProductCard
        title="All"
        image={All.src}
        weight="(200g - 12kg"
        price="8.49"
        discountedPrice="6.37"
      />
    </section>
  </section>
</ParallaxSection>
