---
import EastIcon from "@/assets/icons/east.svg";
import Label from "@/components/shared/Label.astro";
import Subtitle from "@/components/shared/Subtitle.astro";
import Title from "@/components/shared/Title.astro";

import BenefitCardWithIcon from "@/components/shared/BenefitCardWithIcon.astro";
import ButtonRed from "./shared/ButtonRed.astro";

import BowlImage from "@/assets/ingredients/bowl.png";
import HalfBowlImage from "@/assets/ingredients/half-bowl.png";

import Puppy1 from "@/assets/ingredients/01-puppy.gif";
import Puppy2 from "@/assets/ingredients/02-puppy.png";
import Puppy3 from "@/assets/ingredients/03-puppy.gif";
---

<section
  id="ingredients"
  class="pin-section relative flex flex-col items-center h-dvh overflow-hidden w-full pt-[78px] z-5"
>
  <section class="content">
    <Label id="ingredients-label">From Wild Origins to Real Nutrition</Label>
    <Title id="ingredients-title" className="mt-3">
      Ingredients from the Wild
    </Title>
    <Subtitle id="ingredients-description" className="max-w-[650px] mt-5">
      Every Carnilove recipe begins in nature — balanced with forest fruits,
      roots and herbs for real performance nutrition.
    </Subtitle>

    <img
      data-dog1={Puppy1.src}
      data-dog2={Puppy2.src}
      data-dog3={Puppy3.src}
      id="puppy"
      class="aspect-640/354 absolute top-[542px] left-[630] z-2 scale-100"
      src=""
    />

    <BenefitCardWithIcon
      id="benefit-meat"
      title="Made Only with Fresh Meat"
      text="Pure protein power — fuelled by wild ingredients like salmon, duck & boar."
      iconName="meat"
      className="absolute top-[305px] left-[621px] z-2"
    />

    <BenefitCardWithIcon
      id="benefit-plant"
      title="True Natural Ingredients"
      text="Nothing artificial. Just the real taste of nature — herbs, berries & roots."
      iconName="plant"
      className="absolute top-[305px] left-[877px] z-2"
    />

    <BenefitCardWithIcon
      id="benefit-grain"
      title="Grain-Free Recipes for Your Pet"
      text="Nature’s way to feed — balanced, primal nutrition for every dog’s instinctive needs."
      iconName="grain"
      className="absolute top-[305px] left-[1133px] z-2"
    />

    <ButtonRed
      id="ingredients-button"
      className="absolute top-[613px] left-[1183px] flex flex-row items-center gap-1.5"
    >
      About our food <EastIcon class="w-6 h-6" />
    </ButtonRed>

    <section
      id="bowl"
      class="absolute top-[269px] -left-[75px] w-[744px] min-h-[600px] h-auto z-2"
    >
      <img
        src={BowlImage.src}
        alt="Carnilove ingredients bowl"
        class="absolute inset-0 w-full h-auto object-cover z-1 aspect-924/880"
      />

      <img
        src={HalfBowlImage.src}
        alt="Carnilove ingredients bowl"
        class="absolute inset-0 w-full h-auto object-cover z-2 aspect-924/880"
      />
    </section>
  </section>
</section>

<script>
  import { animateLabel, animateTitle } from "@/utils";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const ingredients = document.getElementById("ingredients");
  const bowl = document.getElementById("bowl");

  const ingredientsTitle = document.getElementById("ingredients-title");
  const ingredientsDescription = document.getElementById(
    "ingredients-description"
  );
  const ingredientsLabel = document.getElementById("ingredients-label");
  const ingredientsButton = document.getElementById("ingredients-button");

  const tlLabel = gsap.timeline({
    scrollTrigger: {
      trigger: ingredients,
      start: "top center",
      end: "bottom 95%",
      toggleActions: "play reverse play reverse",
    },
  });

  animateLabel(tlLabel, ingredientsLabel).fromTo(
    ingredientsButton,
    { opacity: 0, y: -20 },
    {
      opacity: 1,
      y: 0,
      duration: 0.5,
      ease: "power2.out",
    }
  );

  animateTitle({
    title: ingredientsTitle,
    trigger: ingredients,
    end: "bottom 95%",
  });
  animateTitle({
    title: ingredientsDescription,
    trigger: ingredients,
    end: "bottom 95%",
  });

  const entryTimeline = gsap.timeline({
    scrollTrigger: {
      trigger: ingredients,
      start: "top center +=100",
      end: "bottom bottom",
      toggleActions: "play reverse none restart",
      scrub: true,
    },
  });

  entryTimeline
    .from("#benefit-meat", {
      top: 0,
      left: "35%",
      opacity: 0,
    })
    .from("#benefit-plant", { top: 0, left: "55%", opacity: 0 })
    .from("#benefit-grain", { top: 0, left: "75%", opacity: 0 })

    .from(
      bowl,
      { yPercent: 200, xPercent: -300, rotate: 360, opacity: 0, scale: 0.5 },
      "<0.2"
    );

  const exitTimeline = gsap.timeline({
    scrollTrigger: {
      trigger: ingredients,
      start: "bottom 95%",
      end: "bottom 65%",
      scrub: 1,
    },
  });

  exitTimeline
    .to(bowl, { yPercent: 200, xPercent: -100, rotate: -360, opacity: 0 })
    .to("#benefit-meat", { top: 0, xPercent: 35, opacity: 0 }, "<0.2")
    .to("#benefit-plant", { top: 0, xPercent: 55, opacity: 0 }, "<0.2")
    .to("#benefit-grain", { top: 0, xPercent: 75, opacity: 0 }, "<0.2");

  ScrollTrigger.create({
    trigger: ingredients,
    start: "top 5%",
    onEnter: () => {
      setTimeout(() => {
        document.getElementById("puppy")!.style.display = "block";
        (document.getElementById("puppy") as HTMLImageElement).src = (
          document.getElementById("puppy") as HTMLImageElement
        ).getAttribute("data-dog1") as string;
      }, 500);
    },

    onEnterBack: () => {
      setTimeout(() => {
        document.getElementById("puppy")!.style.display = "block";
        (document.getElementById("puppy") as HTMLImageElement).src = (
          document.getElementById("puppy") as HTMLImageElement
        ).getAttribute("data-dog1") as string;
      }, 500);
    },
  });

  // Pin section and swap GIFs on scroll
  ScrollTrigger.create({
    trigger: ingredients,
    start: "top top",
    end: "+=50%", // Adjust based on GIF duration
    // pin: true,
    scrub: true,
    onEnter: (self) => {
      if (self.progress > 0.01) {
        (document.getElementById("puppy") as HTMLImageElement).src = (
          document.getElementById("puppy") as HTMLImageElement
        ).getAttribute("data-dog3") as string;
        setTimeout(() => {
          document.getElementById("puppy")!.style.display = "none";
        }, 2000);
      }
    },
    onEnterBack: (self) => {
      if (self.progress > 0.01) {
        (document.getElementById("puppy") as HTMLImageElement).src = (
          document.getElementById("puppy") as HTMLImageElement
        ).getAttribute("data-dog3") as string;
        setTimeout(() => {
          document.getElementById("puppy")!.style.display = "none";
        }, 2000);
      }
    },
  });
</script>
